postgres-data

luxuryproducts-frontend/.angular
luxuryproducts-frontend/node_modules
luxuryproducts-frontend/dist

luxuryproducts-backend/.idea
luxuryproducts-backend/.mvn
luxuryproducts-backend/target
luxuryproducts-backend/resources