@if (loading) {
<p>Loading...</p>
} @else {

<body>
  <section class="w-100 px-3 py-5 bg-light" style="border-radius: 0.5rem">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0">Welcome to Webshop Bob x INSOFAD_1</h3>
          </div>
          <p>
            Discover an exquisite collection of the world's most coveted brands,
            curated to perfection. Whether you're seeking timeless elegance or
            contemporary chic, our handpicked selections promise unparalleled
            quality and style. Indulge in the art of fine living with our
            exclusive range of jewelry, fashion, and watches. Elevate your
            lifestyle with Webshop Bob x INSOFAD_1, where every purchase is a
            statement of refinement and taste.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h2 class="text-center mb-5">Giftcards</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <img
              src="https://products.eneba.games/resized-products/s2-oGZMZknb1g4OYL-PbQS7HhJGDhlxqu0_cXsJs66c_350x200_1x-0.jpeg"
              style="width: 100%; height: 300px; border-radius: 30px"
            />
            <p class="card-title"><b>Giftcard: €5</b></p>
            <button
              *ngIf="userIsLoggedIn"
              (click)="generateGiftCard(5)"
              class="btn btn-primary mb-2"
            >
              Buy
            </button>
            <p *ngIf="!userIsLoggedIn" class="p-3 mb-2 bg-primary text-white">
              Log in to buy
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <img
              src="https://livekaarten.nl/pl/nintendo-10-usd-66837.png"
              style="width: 400px"
              alt=""
            />
            <p class="card-title"><b>Giftcard: €10</b></p>
            <button
              *ngIf="userIsLoggedIn"
              (click)="generateGiftCard(10)"
              class="btn btn-primary mb-2"
            >
              Buy
            </button>
            <p *ngIf="!userIsLoggedIn" class="p-3 mb-2 bg-success text-white">
              Log in to buy
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <img
              src="https://kaartdirect.nl/storage/thumbnails/default/a0/1m/cs9zmu8k4co08cw84kgsw.png?p=kaartdirect.nl%2Fimages%2Fproducts%2Fnintendo-eshop-code-eur15-1643936874.png&s=https&widen=400"
              alt=""
            />
            <p class="card-title"><b>Giftcard: €15</b></p>
            <button
              *ngIf="userIsLoggedIn"
              (click)="generateGiftCard(15)"
              class="btn btn-primary mb-2"
            >
              Buy
            </button>
            <p *ngIf="!userIsLoggedIn" class="p-3 mb-2 bg-danger text-white">
              Log in to buy
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <img
              src="https://kaartdirect.nl/storage/thumbnails/default/ck/7f/333ayds80w444ssws4g4g.png?p=kaartdirect.nl%2Fimages%2Fproducts%2Fnintendo-eshop-code-eur50-1643936889.png&s=https&widen=400"
              alt=""
              style="width: 400px"
            />
            <p class="card-title"><b>Giftcard: €50</b></p>
            <button
              *ngIf="userIsLoggedIn"
              (click)="generateGiftCard(50)"
              class="btn btn-primary mb-2"
            >
              Buy
            </button>
            <p *ngIf="!userIsLoggedIn" class="p-3 mb-2 bg-dark text-white">
              Log in to buy
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <img
              src="https://kaartdirect.nl/storage/thumbnails/default/9t/7m/skmp6ww0coc8wwkww88o.png?p=kaartdirect.nl%2Fimages%2Fproducts%2Fnintendo-eshop-code-eur100-1639574122.png&s=https&widen=400"
              alt=""
            />
            <p class="card-title"><b>Giftcard: €100</b></p>
            <button
              *ngIf="userIsLoggedIn"
              (click)="generateGiftCard(100)"
              class="btn btn-primary mb-2"
            >
              Buy
            </button>
            <p *ngIf="!userIsLoggedIn" class="p-3 mb-2 bg-warning text-dark">
              Log in to buy
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured product cards -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Discover our products</h2>
      <div class="row">
        @for (category of categorys; track $index) {
        <!-- Featured product cards go here -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <img
              class="card-img-top"
              [src]="category.imageUrl"
              [alt]="category.name"
            />
            <div class="card-body">
              <h4 class="card-title">{{ category.name }}</h4>
              <p class="card-text">{{ category.description }}</p>
              <a [routerLink]="['category', $index + 1]" class="btn btn-primary"
                >Go to {{ category.name }}</a
              >
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</body>
}
