.card-img-top {
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: black;
  border: 1px solid black;
  font-size: 15px;
  color: white;

  &:hover {
    background-color: white;
    color: black;
  }
}
.rich-Styling {
  background-color: white;
  border: thin solid;
  border-color: rgb(232, 223, 223);
  box-shadow: rgba(202, 202, 213, 0.2) 0px 8px 24px;
}
