<h1>Welcome admin</h1>
<p>These returns are pending:</p>

<div
  class="returns-container"
  *ngIf="returnsOfUser && returnsOfUser.length > 0; else noReturns"
>
  <div class="return" *ngFor="let returnListModel of returnsOfUser">
    <p class="mb-1">Name: {{ returnListModel.user.name }}</p>
    <p class="mb-1">Infix: {{ returnListModel.user.infix }}</p>
    <p class="mb-1">Last Name: {{ returnListModel.user.lastName }}</p>
    <p class="mb-1">Email: {{ returnListModel.user.email }}</p>

    <div class="return" *ngFor="let return1 of returnListModel.returns">
      <div class="return">
        <div class="product">
          <div class="product-details">
            <p class="return1-name">
              <span class="fw-bold">Product Name:</span>
              {{ return1.cartProduct.name }}
            </p>
            <p class="return1-price">
              <span class="fw-bold">Price:</span>
              {{ return1.cartProduct.productVariantPrice | currency : "EUR" }}
            </p>
            <div class="return-image">
              <img src="{{ return1.cartProduct.imageUrl }}" />
            </div>
          </div>
        </div>
        <p>
          <button
            (click)="onAccept(return1.id)"
            class="btn btn-md btn-dark w-20"
          >
            Accept
          </button>
          <button
            (click)="onDenied(return1.id)"
            class="btn btn-md btn-dark w-20"
            style="margin-left: 20px"
          >
            Deny
          </button>
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #noReturns>
  <p>No return request found.</p>
</ng-template>
