@if (loading) {
<p>Loading...</p>
}@else {

<div *ngIf="product">
  <div class="image-grid">
    <div class="flex-box">
      <div>
        <a (click)="onPreviousImage()" style="font-size: 400%; color: gray">
          &lt;
        </a>
      </div>

      <img
        class="product-image"
        id="productImage1"
        [src]="
          product.productVariants[productVariantIndex].productImages[
            productImage1Index
          ].imageUrl
        "
        class="img-fluid rounded-start album-pic"
        alt="First Image"
      />

      <div class="buyProduct-overlay rounded-3">
        <h5 style="margin-bottom: 20%">{{ product.name }}</h5>
        <p>
          price:
          <span style="font-weight: bold">
            {{
              product.productVariants[productVariantIndex].price
                | currency : "EUR"
            }}</span
          >
        </p>
        <p>
          Color: <span style="font-weight: bold"> {{ getColor() }}</span>
        </p>
        <p
          *ngIf="productIsCloth(product.productVariants[productVariantIndex])"
          style="margin-bottom: 5%"
        >
          item fit:
          <span style="font-weight: bold"> {{ getSizeAndFit() }}</span>
        </p>

        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <select
            style="cursor: pointer"
            id="quantity"
            class="form-control"
            (change)="Onquantitychange($event)"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <label for="quantity">size:</label>
        <select
          style="cursor: pointer"
          id="quantity"
          class="form-control"
          (change)="OnSizechange($event)"
          style="margin-bottom: 5%"
        >
          @for (productVariatie of
          product.productVariants[productVariantIndex].productVariatie; track
          $index) {
          <option
            value="{{ $index }}"
            [disabled]="
              productVariatie.productionStop || !productVariatie.items_in_stock
            "
            [ngClass]="{
              'disabled-option':
                productVariatie.productionStop ||
                !productVariatie.items_in_stock
            }"
          >
            {{ productVariatie.size.size }} <span>-</span> ({{
              productVariatie.quantity_in_stock
            }})
          </option>
          }
        </select>

        <button
          type="button"
          class="btn btn-dark"
          style="width: 100%"
          [disabled]="!loginState"
          (click)="onBuyProduct()"
        >
          Add to Cart
        </button>
        @if (showCantbuy == true) {
        <h6 style="color: red">Can`t buy that amount. Stock is too low</h6>
        }
      </div>
    </div>

    <div class="flex-box">
      <img
        class="product-image"
        id="productImage2"
        [src]="
          product.productVariants[productVariantIndex].productImages[
            productImage2Index
          ].imageUrl
        "
        class="img-fluid rounded-start album-pic"
        alt="Second Image"
      />
      <div>
        <a (click)="onNextImage()" style="font-size: 400%; color: gray">
          &gt;</a
        >
      </div>
    </div>
  </div>
  <div class="items-below-picture">
    <div class="information-grid">
      <div class="flexbox-extra-information">
        <div>
          <h6>VARIATIONS ({{ productVariantCounter() }})</h6>
          <div class="variation-pictures-flexbox">
            @for (productVariant of product.productVariants; track $index) {

            <img
              width="300"
              [src]="productVariant.productImages[0].imageUrl"
              class="img-fluid rounded-start album-pic"
              alt="First Image"
              style="max-width: 30%; cursor: pointer"
              (click)="changeProductVariant($index)"
            />

            }
          </div>
        </div>
        <hr />
        <div *ngIf="product.promoCode">
          <h6>PROMO CODES (1)</h6>
          <div
            class="product-promo-code mb-4 p-3 border border-success rounded"
          >
            <h6 class="fw-bold mb-2 text-success">PROMO CODE</h6>
            <div class="d-flex justify-content-between align-items-center">
              <span class="promo-code">{{ product.promoCode }}</span>
              <span class="promo-discount">
                <span *ngIf="product.promoType === 'PERCENTAGE'"
                  >{{ product.promoDiscount }}% off</span
                >
                <span *ngIf="product.promoType === 'FIXED_AMOUNT'"
                  >{{ product.promoDiscount | currency : "EUR" }} off</span
                >
              </span>
            </div>
          </div>
        </div>

        <hr *ngIf="product.promoCode" />
        <div>
          <h6>BRAND INFO</h6>

          <p>{{ productBrand.description }}</p>
        </div>
        <hr />
        <div>
          <h6>COUNTRY</h6>
          <p>{{ product.country }}</p>
        </div>
        <hr />
      </div>

      <div class="">
        <div class="inner-div">
          <div class="justify-content-center">
            <img
              width="300"
              [src]="
                product.productVariants[productVariantIndex].productImages[0]
                  .imageUrl
              "
              class="img-fluid rounded-start album-pic"
              alt="First Image"
              style="max-width: 55%; margin-right: 8%"
            />
          </div>
          <div>
            <h6>PRODUCT DETAILS</h6>
            <p>
              {{ product.productVariants[productVariantIndex].description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
