<div
  class="container mt-5 justify-content-center"
  xmlns="http://www.w3.org/1999/html"
>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <a (click)="navigateToAllPromo()">
        PromoCode
        <img
          #productImage4
          class="img-fluid rounded card-img-top"
          src="https://via.placeholder.com/600x400?text=Promo-codes"
          alt="Orders"
          style="border-radius: 1vw"
        />
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a (click)="navigateToRetour()">
        Retour
        <img
          #productImage4
          class="img-fluid rounded card-img-top"
          src="https://via.placeholder.com/600x400?text=Retour"
          alt="Orders"
          style="border-radius: 1vw"
        />
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a (click)="navigateToPromoStats()">
        Promo-stats
        <img
          #productImage4
          class="img-fluid rounded card-img-top"
          src="https://via.placeholder.com/600x400?text=Promo-stats"
          alt="Orders"
          style="border-radius: 1vw"
        />
      </a>
    </div>
    <div class="col-md-4 mb-4">
      <a (click)="navigateToProductVariants()">
        Product-Variants
        <img
          #productImage4
          class="img-fluid rounded card-img-top"
          src="https://via.placeholder.com/600x400?text=Product-Variants"
          alt="Orders"
          style="border-radius: 1vw"
        />
      </a>
    </div>
  </div>
</div>
